.show_more{
  background: #fff;
  padding: 4% 51.7rem; 
  border: none;
}

.filter {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: flex-end;
}

.filter > p:not(:last-child)::after {
  content: "|";
  padding: 10px;
}

.filter p {
  cursor: pointer;
}

.flex_wrap {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  /* 상품 위 아래 간격 */
  gap: 70px 0px; 
  margin: 0 auto;
  margin-top: 35px;
  /* background-color: antiquewhite; */
}

@media (max-width: 1000px) {
  .flex_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .flex_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 360px) {
  .filter p {
    font-size: 12px;
  }
}
