<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>한복</h2>
<header>
    <nav class="navbar">
        <a href="#전통">전통</a>
        <a href="#개량">개량</a>
        <a href="#신발">신발</a>
        <a href="#악세사리">악세사리</a>
    </nav>

    <a href="#" class="logo">메인 로고</a>

    <div class="icons">
        <a href="/main/search">검색</a>
        <a href="/heart">즐겨찾기</a>
        <a href="/cart">장바구니</a>
        <a href="/member/login">로그인/회원가입</a>
        <a href="/lang">언어설정</a>
    </div>

</header>

</body>
</html>