.login{
    text-align: center;
    
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;  
}


.form{
    margin-top: 4%;
    text-align: center;
    /* justify-content: center; */
}



.findpass button{
    background-color: #fff;
    border: none;
    position: absolute;
    margin-top: 20px;
    left: 37.3%;   
}

.loginbtn button{
    margin-top: 5%;
    padding: 20px;
    width: 25vw;
    background-color: #9553C8;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* 이메일/휴대폰 번호, input*/
#text{
    width: 25%;
    height: 50px;
    border: none;
    margin-top: 35px;
    border-bottom: solid 1px black;
}

.idremem{
    position: absolute;
    margin-top: 5%;
    left: 37.3%;
    font-size: 12px;
}


.idremem input{
    width: 13px;
    
}

/* 
input::-webkit-input-placeholder {
    position: absolute;
    bottom: 0;
} */

/* .logintext h1{
    display: inline;
    padding: 20px;
    text-decoration: underline;
   
    justify-content: center;
    text-align: center;
} */

.logintext button{
    width: 50%;
    margin-top: 100px;
    padding: 19%;
    
}

.logintext{
    display: flex;
    justify-content: center;
    text-align: center;  
}

.ment{
    /* position: absolute; */
    font-size: -4rem;
    /* margin-top: 10px; */
    /* margin-bottom: 10%; */
    margin-left: 37.4%;
    /* margin-left: 600px; */
    margin-top: 2%;
    
}

/* 
.blo{
    border-bottom: solid 1px black;
} */




.logintext .blo{
    border-bottom: solid 3px #9553C8;
}