.login{
    text-align: center;
    
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;  
}


.form{
    margin-top: 4%;
    text-align: center;
    /* justify-content: center; */
}



.findpass button{
    background-color: #fff;
    border: none;
    position: absolute;
    margin-top: 20px;
    left: 37.3%;   
    font-size: 15px;
    color: #757575;
}

.loginbtn button{
    /* margin-top: 5%; */
    padding: 25px;
    width: 25vw;
    background-color: #9553C8;
    color: #fff;
    border: none;
    border-radius: 7px;
}

/* 이메일/휴대폰 번호, input*/
#text{
    width: 25%;
    height: 50px;
    border: none;
    margin-top: 35px;
    border-bottom: solid 1px black;
}

.idremem{
    /* position: absolute; */
    margin-top: 5%;
    /* left: 37.3%; */
    display: flex;
    margin-left: 45rem;
    font-size: 13px;
    /* background-color: #32e732;s */
    /* margin-bottom: 2px; */
    /* text-align: left; */
}



/* 
input::-webkit-input-placeholder {
    position: absolute;
    bottom: 0;
} */

/* .logintext h1{
    display: inline;
    padding: 20px;
    text-decoration: underline;
   
    justify-content: center;
    text-align: center;
} */

.logintext button{
    width: 50%;
    margin-top: 100px;
    padding: 19%;
    
}

.logintext{
    display: flex;
    justify-content: center;
    text-align: center;  
}

.ment{
    /* position: absolute; */
    font-size: -4rem;
    /* margin-top: 10px; */
    /* margin-bottom: 10%; */
    margin-left: 37.4%;
    /* margin-left: 600px; */
    margin-top: 2%;
    color: #424242;
    font-weight: bold;
    
}


input::placeholder {color:#BDBDBD;}
/* 
.blo{
    border-bottom: solid 1px black;
} */




.logintext .blo{
    border-bottom: solid 4px #9553C8;
    border-radius: 2px;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    appearance: none;
    cursor: pointer;
    margin-right: 10px;
    /* transition: background 0.2s; */
  }

  input[type="checkbox"]:checked {
    background: #32e732;
    border: none;
  }

