/* 상품 상세 컨테이너 */
.detail_all .main {
  background-color: #F5F5F5;
  height: 1044px;

  display: flex;
  justify-content: center;

}

.detail_all .product_information {
  margin-top: 90px;
  width: 64%;
  display: flex;
}

/* 왼쪽 사진 */
.detail_all .product_img_container {
  /* background-color: antiquewhite; */
  width: 63%;
}

.product_img_container .product_img {
  display: flex;
  flex-direction: column;
  /*수직 정렬*/
  align-items: center;
  justify-content: center;
}

.product_img .size {
  text-align: center;
  width: 617px;
  height: 630px;
}


/* 상품 사진, 그림자 */
.product_img img {
  /* background-color: burlywood; */
}

.product_img .size img {
  height: 100%;
}

.product_img .img_shadow {
  width: 31.1%;
}

/*  */
.product_img_bottom {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.product_img_bottom .size {
  width: 91px;
  height: 91px;
  overflow: hidden;
  background-color: white;
  display: flex;
  margin-right: 26.5px
}

.product_img_bottom .size img {
  transform: scale(1);
  margin: 0 auto;
}



/* 오른쪽 상품 정보 */
.detail_all .product_info_container {
  /* background-color: sandybrown; */
  width: 36%;
}

.product_info {
  margin-top: 30px;
}

/* 상품 이름, 즐겨찾기 아이콘 */
.product_info .product_title {
  display: flex;
  justify-content: space-between;
}

.product_info .product_title .heart {
  padding-top: 2px;
}

.product_info p.product_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 8px;
}

/* 가격 */
.product_info .price span {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;

  color: black;
}

/* 설명 */
.product_info .description {
  margin-top: 20px;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #757575;
}

/* 선택 */
/* 색상 */
.product_info .colorchose {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #424242;
  margin-bottom: 8px;
}

.colorpick {
  display: flex;
  margin-bottom: 35px;
}

.color_box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  /* 플랙스 박스 정렬 */
  align-items: center;
  /* 플랙스 아이템 정렬 */
}

.white_circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;

  position: absolute;
}

.color_box.selected {
  opacity: 1;
  /* 선택된 색상은 투명도를 1로 조정하여 강조합니다 */
}

.color_name {
  display: none;
  /* 일단 모든 색상 이름을 숨깁니다 */
}

.color_box.selected .color_name {
  position: static;
  white-space: nowrap;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 50px;
  padding-top: 27px;
  margin-top: 20px;

  /* 선택된 색상의 이름만 보여줍니다 */
}

/* 사이즈 정보 */
.inputboxs .sizeinfo {
  display: flex;
  float: right;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 6px;
  padding-right: 2px;
}

/* 사이즈 선택 */
.select {
  clear: right;
}

/* 박스 클릭 전 */
.dd-header {
  /* width: 435px; */
  width: 100%;
  height: 48px;

  line-height: 38px;
  border: 0.5px solid #bdbdbd;
  border-radius: 8px;
  cursor: default;
  position: relative;
  background-color: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;

  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dd-header-radius {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dd-header-selected {
  height: 70px;
}

/* ul */
.dd-list {
  width: 435px;
  z-index: 10;
  position: absolute;
  border: 0.5px solid #bdbdbd;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
  box-shadow: 0 2px 5px -1px #e8e8e8;
  font-weight: 700;
  max-height: 215px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.dd-list::-webkit-scrollbar {
  display: none;
}

/* each option */
.dd-list-item {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 13px 16px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dd-list-item:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.dd-list-item.selected {
  background-color: #f5f5f5;
}

.dd-list-item:hover {
  background-color: #f5f5f5;
  transition: 0.2s ease-in;
}

.dd-list-item:not(:hover) {
  transition: 0.2s ease-out;
}

.dd-wrapper-single {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 265px;
}

.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}

.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}

.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}


.dd-header-content .dd-header-ex,
.dd-header-icon {
  margin: auto 0;
}


/* --custom select */

/* 대여 기간 */
.date {
  width: 100%;
  height: 48px;
}

.dateBox {
  display: flex;
  background-color: white;
  border-radius: 10px;
  border: solid 0.5px #BDBDBD;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.dateBox .renttitle {
  margin: 13px 16px;
}

.dateBox input {
  width: 112px;
  height: 27px;
  border-radius: 8px;
  background-color: #F5F5F5;
  padding-inline: 15px;

  font-family: Pretendard-Regular;
  font-size: 12px;
  margin-top: 10px;
  border: none;

}

.dateBox .datedate {
  margin-right: 20px;
  display: flex;
}

.datedate .line_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.datedate .line_wrapper .line {
  position: relative;
  top: 3px;
  margin-left: 8px;
  margin-right: 8px;
}

/* 버튼 */
.detail_all .detailbtn {
  margin-top: 24px;
}

.detail_all .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.detail_all .btn button {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  cursor: pointer;
  border-radius: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: Pretendard-Regular;
  /* identical to box height, or 160% */

  text-align: center;
}

.detail_all .btn .btn_buy {
  display: flex;
  justify-content: center;

  width: 49%;
  background: #6D16DC;
  color: #ffffff;
}

.detail_all .btn .btn_cart {
  display: flex;
  justify-content: center;

  width: 49%;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* 구분선 */
hr {
  margin: 24px 0;
  color: #e4e4e4;
}

/* 선택한 옵션 박스 */
.allBox {
  width: 100%;
  height: 87px;

  background-color: white;
  border: 0.5px solid #BDBDBD;
  border-radius: 8px;
  padding: 18px 16px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;

}

.allBox .left {
  position: relative;
  top: -5px;
  width: 50%;
}

/*   색 이름 */
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 9px;
  float: left;
}

.select_color_size span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
  color: black;

  position: relative;
  top: 3px;
}


/*   수량 조절 */
.countbtn {
  display: flex;
  margin-top: 8px;
}

.countBox {
  width: 50px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  border: solid 2px rgb(221, 217, 217);
}

.m {
  width: 27px;
  height: 27px;
  font-size: 14px;
  background-color: #F5F5F5;
  border: 0.5px solid #BDBDBD;
  border-radius: 2px 0px 0px 2px;
}

.countbtn .countBox {
  height: 27px;
  border: none;
  border-top: 0.5px solid #BDBDBD;
  border-bottom: 0.5px solid #BDBDBD;
}

.countbtn .countBox span {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: black;
  position: relative;
  top: 3px;
}

.p {
  width: 27px;
  height: 27px;
  font-size: 20px;
  background-color: #F5F5F5;
  border: 0.5px solid #BDBDBD;
  border-radius: 0px 2px 2px 0px;
}

/*   가격 */
.pricesmall {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #424242;
}

.pricesmall i {
  position: relative;
  top: 3px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 2rem;
}

/*   오른쪽에 금액 */
.allBox .right {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 총 수량 */
.sum span.total_count {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #757575;

  float: right;
  margin-top: 36px;
  margin-bottom: 2px;
}

/* 금액 */
.sum .total_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sum .total_info span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  color: #000000;
}

.sum .total_info span .bold {
  font-size: 17px;
}

/* 대여 날짜 */
.datedata {
  position: relative;
  top: 2px;
  display: flex;
}

.datedata .line {
  position: relative;
  bottom: 4px;
  padding: 0 8px;
}



/* 상품 상세 사진&설명 컨테이너 */
/*   전체 */
div.detail_information {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.detail_container {
  width: 64%;
}



/*   텍스트 */
.detail_container p.ment {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #000000;

  margin-bottom: 7px;
}

.detail_container p.ex {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #757575;

  margin-bottom: 50px;
}


/* 첫번째 이미지 */
.detail_container .detailimg {
  margin: 0 auto;
}

/* 사진 가운데에 설명 */
.detail_container p.ex_bottom {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #454545;

  margin-top: 50px;
  margin-bottom: 100px;
}

.detail_container .detailimg .wrapper {
  margin: 0 auto;
  width: 580px;
  margin-bottom: 50px;
}

.detail_container .detailimg .wrapper img {
  width: 580px;
}

/*   사이즈 */
.detail_container .size {
  display: flex;
  justify-content: center;
}

.detail_container .size p {
  margin-bottom: 178px;
}

/* 후기, 상품 문의, 안내사항 */
/*   nav */
.detail2_container {
  display: flex;
  justify-content: center;
}

.detail_container .content {
  background-color: burlywood;
  width: 100%;
}

.detail2_container .content .btn button {
  width: 33.3%;
  background-color: white;
  border-radius: 0;
  border-bottom: 1px solid #BDBDBD;
}

.detail2_container .content .btn button.active,
button.active {
  border-bottom: 5px solid #6D16DC;
  border-radius: 3px;
  position: relative;
  top: 1px;
}

.detail2_container button.active h1 {
  color: #6D16DC;
}

.detail2_container button h1 {
  margin: 28px auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  font-family: Pretendard-Regular;
}