.boxx{
    height: 100px;
    width: 60%;
    border-radius: 3%;
    background-color: rgb(219, 219, 219);;
}

.boxs{
    display: grid;
    place-items: center;
}

.font{
  display: grid;
  /* place-items: center; */
}

.font1{
    font-size: 20px;
}

.I_w{
    width: 10%;
    height: 50px;
    background: #9553C8;
    color: #fff;
    border: none;
    border-radius: 6px;
    position: absolute;
    /* bottom: -80%; */
    right: 20%;
}