.reviewp{
    display: flex;
    justify-content: space-between;
    margin-inline: 20%;
    margin-top: 3%;   
}

.reviewp h1{
    font-size: 20px;
}


.boxs{
    display: grid;
    place-items: center;

}
.box{
   margin: 20px;
    width: 60%;
    height: 300px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    /* bor */
    /* background-color: grey; */
}

.box i{
    color: #9553C8;
}

.icon {
    position: absolute;
    font-size: 5rem;
    left: 27%;

    /* top: 100%; */
    margin-top: 5%;
}

.bar{
    width: 2px;
    height: 80%;
    margin-right: 34%;
    margin-top: 3%;
    background-color: rgb(219, 219, 219);
}


.rediv{
    display: flex;
}

.re{
    /* position: absolute; */
    /* margin-top: 35px; */
    line-height: 3;
    /* display: flex; */
    /* left: 50%; */
}

.sort{
    display: flex;
    margin-right: 67rem;
    
}
.sort h1{
    margin-left: 20px;
    font-size: 16px;
}

.box2{
    width: 60%;
    height: 85px;
    margin-top: 70px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;

}

.box2 select{
    margin-left: 20px;
    margin-top: 20px;
}

.r_w{
    width: 10%;
    height: 50px;
    background: #9553C8;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    /* position: absolute; */
    /* bottom: -80%; */
    /* right: 20%; */
}