#root {
}

* {
  margin: 0;
  padding: 0;
  /* background: #ffffff;
  font-family: Spoqa Han Sans Neo;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal; */
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}
