header .nav{
    background-color: #fff;
    height: 5vh;
    /* box-shadow:  0 5px 20px rgb(0, 22 84 / 10%); */
    /* justify-content:space-between; */
    /* padding: 19px 0; */
    /* text-align: center; */
    position: sticky;
    top: 0;

    z-index: 999;
    padding-inline: 10%;
    box-shadow: 0 6px 20px -10px rgb(203, 201, 201);
}

.nav ul li a.active button {
    color: #894DB8;
    
  }
/* 
  .nav ul li a.selected button {
    color: #894DB8;
  }
   */

.icons i{
    margin-left: 30px;
    cursor: pointer;
    /* font-size: 10px; */
    /* color: black; */
}

/* 검색 모달 */
.search_modal{
  height: 280px;
  width: 290px;
  margin: 27px auto;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
/* --검색 모달 */


header a{
    /* margin-right: 20px; */
    font-size: 15px;
}

.toggle{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.toggle i{
    cursor: pointer;
    margin-left: 30px;
}

li{
    font-weight: normal;
}




.global{
    cursor: pointer;
}

.logo img{
   height: 26px;
   margin-left: 150px;
}

.flex{
    margin-right: -1%;
    margin-top: 28px;
    text-align: center;
    justify-content: center;
}

.flex li{
    padding: 10px;
}


.container{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin-inline: 14%;
    
}

.nav li{
    display: inline;
}

/* nav */
.flex button{
    border: none;
    background-color: #fff;
    margin-inline: 15px;
}



/* 카테고리 */
.Banner h2{
/* margin-top: 5%; */
display: grid;
place-items: center;
font-size: 22px;
/* margin-bottom: 3px; */
}

/* 카테고리 위치 */
.category{
    margin-top: 1.5%;
    /* margin-bottom: 5%; */
    /* display: grid;*/
    justify-content: center;
    place-items: center; 
    display: flex;
   
}


.cloum{
    line-height: 23px;
    color: rgb(174, 173, 173);
    margin-inline: 25px;
    margin-left: 44px;
}



.cloum i{
    font-size: 1px;
}