
* {
    
    padding: 0;
    box-sizing: border-box;
    /* z-index: 1; */
    /* overflow-x: hidden */
  }

  @font-face {
    font-family: 'lostgun Regular';
    font-style: normal;
    font-weight: normal;
    src: local('lostgun Regular'), url('./lostgun-cufonfonts-webfont/lostgun-Regular.woff') format('woff');
    }

  body{
    margin: 0;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
  

html{
  scroll-snap-type: y mandatory;
}
 

section{
    height: 100vh;
    /* width: 100vw; */
    scroll-snap-stop: always;
}

.ps{
  padding: 5%;
  margin-top: 16%;
  line-height: 25px;
  /* background-color: #1E1E20; */
  width: 500px;
  font-size: 20px;
}





.titleh1{
    color: #fff;
    display: grid;
    /* background-color: ; */
    place-items: center;
    /* height: 100vh; */
    
}

.skimono{
  color: #ffffff;
  /* margin-left: 30px; */
  place-items: center;
  display: grid;
  /* padding-top: 20%; */
  position: absolute;
  left: 37%;
  margin-top: 25%;
  font-size: 5rem;
  /* background-color: #904ED4 */
}


.kimono{
  color: #fff;
  display: grid;
  place-items: center;
  background-color: #acacc5;
  /* place-items: center; */
}

.brand{
    width: 50px;
    height: 50px;
    background-color: azure;
  
}

.marquee{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: left; */
}







.choice{
    padding: 5%;
    font-size: 7rem;
    font-family: 'lostgun Regular';
}



.titleh1 h1{
    margin-top: 5%;
    font-size: 4rem;
}

.logo_white{
    /* background-color: aquamarine; */
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
}

.page_6, .page_7 {
    background-color: #1E1E20;
}

.Merchandise{
    display: grid;
    place-items: center;
    min-height: 60vh;
    font-size: 7rem;
    font-family:  'lostgun Regular';
}

.page_1{
    background-image: url("../../../public/images/background.png");
    background-size: cover;
    
}


.page_1 img{
  position: absolute;
  left: 35%;
  top: 13%;
}


.fullpage{
  /* background-color: #a58585; */
  position: relative;
  top: -136px;

}

.studioshot{
  color: #fff;
  font-size: 8rem;
  padding: 6%;
 
  position: absolute;
  /* position: absolute; */
  /* display: flex; */
  margin-top: 20%;
 
}

.wall-item{
  display: flex;
  margin-left: 50%;
 
 
}


.bacgroundcar {
  background-color: #fff;
  width: 400px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center
}

.wall{
  /* background-color: #a58585; */
  height: 100vh;
  overflow: hidden; 
}

.line1{
  position: relative;
  top: -1550px; 
  margin-right: 35px;

}

.line2{
  position: relative;
  top: -200px; 
}


.bacgroundcar{
  margin-bottom: 35px;
}

.border-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 510px;
  border: 2px solid rgb(34, 33, 33);
}

.border-card img{
  width: 350px;
  height: 480px;
}

#pink{
  border: 2px solid #B19AE3;
}

#green{
  border: 2px solid #B2BA88;
}


#blue{
  border: 2px solid #bbdbf8;
}

.studioshot h1{
  font-family: 'lostgun Regular';
}

.openevent{
  color: #fff;
  padding-left: 6%;
  padding-top: 4%;
  font-size: 25px;
  position: absolute;
 
}


.people1{
    margin: auto;
    display: block;

}

.middletitle{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10%;
}

.kimono{
    font-size: 5rem;
    min-height: 100vh;
}

/* Carousel */

/* 이미지 사이즈 */
.carousel-icon {
  /* border-radius: 50%; */
  margin-top: 20px;
  height: 570px;
  width:  690px;
}


#far-left {
  left: 15%;
  /* margin-right: 20px; */
  z-index: 15;
  transform: scale(1.4) translateY(0%) translateX(-85%);
  background-color: #a58585;
}


#left {
  left: 30%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 10;
  /* background-color: #983d3d; */
  
}

#center {
  left: 50%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 15;
  /* background-color: #c33a3a; */

}

#right {
  left: 70%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 10;
  /* background-color: #C3C3C3; */
}

#far-right {
  left: 80%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  background-color: #eac3c3;
}


.prev-button{
padding: 50px;  
margin-left: 70%;
cursor: pointer;
/* margin-bottom: 120px; */
/* position: absolute; */
}

.containerdy{
  /* background-color: #494949; */
}


.next-button{
  /* margin-bottom: 120px; */
  padding: 50px; 
  /* padding-bottom: 40px; */
  /* margin-bottom: 10px; */
  /* cursor: pointer; */
  /* position: absolute; */
}

 .tie{
  /* background-color: #1E1E20; */
  /* display: flex; */
 }

.nextbtn:hover{
  color: #6D16DC;
}

.Linearbar{
  height: 5px;
  background-color: #494949;
  bottom: 0;
}


.bumper {
  text-align: center;
  padding: 128px 16px;
  background-color: #efefef;
}


.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
  /* background-color:red; */
}






/* card css */
.card {

  box-sizing: border-box;
 /* background-color: #1E1E20; */
  /* display: flex; */
  /* background-color: blue; */
  /* color: white; */
  /* border: 2px solid cyan; */
  /* border-radius: 12px; */
  /* line-height: 300px; */
  /* text-align: center; */
  /* margin-top: 20px; */
  font-size: 40px;
  position: absolute;
  /* margin-bottom: 20px; */
  /* top: calc(50% - 150px); */
  /* overflow: hidden; */
  display: flex;
  left: calc(37% - 100px);
  opacity: 1;
  top: 125%;
  color: #494949;
  transition: transform 1s;
  transition: opacity 1s;
}


.hidden {
  opacity: 0;
  z-index: 5;
  transform: translateX(0) scale(0.4);
}



.hidden {
  /* 이미지가 숨겨진 스타일 설정 */
  opacity: 0;
  transform: translateX(20px) scale(0.9);
}




.p1 {
  transform: translateX(max(-18vw, -180px)) translateY(2.5vh) scale(0.6);
  z-index: 10;
  
  /* -webkit-filter: blur(5px); */
  /* -moz-filter: blur(5px); */
  /* -o-filter: blur(5px); */
  /* -ms-filter: blur(5px); */
  /* filter: blur(5px);  */
  /* margin-right: 20px; */
  transition: transform 1s;
  /* border:1px solid red; */
}

.p1 img{
  height: 855px;
  /* margin-bottom: 0px; */
 
}



.p2 {
  transform: translateX(max(-12vw, 260px)) scale(0.6);
  z-index: 20;
  /* margin-right:0px; */
    /* -webkit-filter: blur(2px);
  
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); */
  margin-top: 80px;
  transition: transform 1s;
  /* border:1px solid green; */
}

.p3 {
  transform: translateX(min(38vw, 700px)) scale(0.6);
  z-index: 30;
  margin-top: 80px;
  transition: transform 1s;
  /* border:1px solid blue; */
}

.p4 {
  transform: translateX(min(65vw, 500px)) scale(0.1);
   z-index: 0;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); 
   /* transition: transform 1s;*/
    /* border:1px solid purple; */
    visibility: hidden;
}
/* .p5 {
  transform: translateX(min(18vw, 180px)) scale(0.6);
  z-index: 10;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
    transition: transform 1s;
} */

