* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'lostgun Regular';
    font-style: normal;
    font-weight: normal;
    src: local('lostgun Regular'), url('./lostgun-cufonfonts-webfont/lostgun-Regular.woff') format('woff');
    }

  
  
body, html{ 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

  }


 

section{
    height: 100vh;
    /* width: 100vw; */
    scroll-snap-stop: always;
}

.ps{
  padding: 5%;
  margin-top: 16%;
  /* margin-bottom: 50px; */
  line-height: 25px;
  /* background-color: #1E1E20; */
  width: 500px;
  font-size: 20px;
}


.page_3{
  height: 300vh;
  background: linear-gradient( to bottom, #F5DCEA, #DCEDF5, #F5F3DC );
}

.untact, .travel,.collaboration {
  box-shadow: 3px 25px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
}

.backtext{
  margin-top: 4.81%;
}

.backtext h1{
  color: #DC16D4;
  margin-left: 43.4%;
  position: absolute;
  transform: rotate(15deg); 
}
.backtext2{
  position: absolute;
  margin-top: 18.6%;
}

.backtext2 h1{
  color: #DC16D4;
  margin-left: 22.3%;
  transform: rotate(-15deg);
}



.travel{
background-color: #fff;
width: 700px;
height: 700px;
border-radius: 50%;
position: relative;

top: 7%;
left: 7%;
transform: rotate(-18deg);

}


.untact{
  background-color: #fff;
  width: 700px;
  
	height: 700px;
  position: relative;
  left: 50%;
  top: 17%;
  transform: rotate(15deg);

}



.collaboration{
  top: 25%;
  left: 20%;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  transform: rotate(-15deg);
  
}







.figure-content{
  /* position: relative; */
  text-align: center;
  position: absolute;
}

#f1{
  /* margin-right: 20px; */
  margin-top: 80px;  
  margin-left: 18%;
  
}

#f2{
  margin-top: 80px;
  right: -23%;
}

#f3{
  /* margin-right: 220px; */
  margin-top: 60px;
  right: -22%;

}


._01-title, ._02-title, ._03-title{
  font-size: 9rem;
  color: #6D16DC;
  font-family:  'lostgun Regular';
  margin-top: 50px;
  /* mix-blend-mode: difference; */
  /* z-index: 1; */
 
  
}

._03-1-title{
  color: #6D16DC;
  /* z-index: 2; */
}

.figure-ps{
  font-size: 2.4rem;
  margin-top: 7%;
}

._01, ._02, ._03{
  font-size: 6rem;
  margin-top: 20px;
  font-family:  'lostgun Regular';
  color: #6D16DC;
}




.title{
 font-size: 2rem;
}


.titleh1{
    color: #fff;
    padding: 165px;
    /* background-color: ; */
    display: grid;
    place-items: center;
    /* height: 100vh; */
}


.partner {
  font-family:  'lostgun Regular';
  font-size: 4rem;
 
}

.skimono{
  color: #ffffff;
  /* margin-left: 30px; */
  place-items: center;
  display: grid;
  /* padding-top: 20%; */
  position: absolute;
  left: 37%;
  margin-top: 25%;
  font-size: 5rem;
  /* background-color: #904ED4 */
}


.kimono{
  color: #fff;
  display: grid;
  place-items: center;
  background-color: #acacc5;
  /* place-items: center; */
}

.brand{
    width: 50px;
    height: 50px;
    background-color: azure;
  
}

.marquee{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: left; */
}




.choice{
    padding: 5%;
    font-size: 9rem;
    font-family: 'lostgun Regular';
}



.titleh1 h1{
    margin-top: 5%;
    font-size: 99px;
}


.logo_white{
    /* background-color: aquamarine; */
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
}

.page_6, .page_7 {
    background-color: #1E1E20;
}

.Merchandise{
    display: grid;
    place-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    /* top: 445%; */
    font-size: 6rem;
    margin-top: 20%;
    font-family:  'lostgun Regular';
}

.eventps{
  display: grid;
  place-items: center;
  position: absolute;
  margin-top: 30%;
  /* top: 465%; */
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  color: #424242;
}

.open{
  margin-top: 14%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  /* top: 434%; */
  font-size: 2rem;
  font-family:  'lostgun Regular';
}




.page_1{
    background-image: url("../../../public/images/background.png");
    background-size: cover;
    /* top: -10%; */
    /* position: relative; */
}


.page_1 img{
  padding-top: 90px;
}


.slides-container{
  /* background-color: #a58585; */
  position: relative;
  top: -136px;
  z-index: 1;

}

/* horizental */
.main-container { 
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #1E1E20;
}








.horizontal-coordinate {
    position: fixed;
    z-index: 100;
    top: 50px;
    left: 50px;
    background-color: #6D16DC;
    font-size: 22px;
    font-weight: bold;
}


.box1 {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 1200px;
  background: blue;
  transform: translate(0, -50%);
}



.page_4{
  position: relative;
}



.studioshot h1{
  color: #fff;
  font-size: 14rem;
  padding: 6%;
  top: 31%; 
  position: absolute;

  /* display: flex; */
  /* margin-top: 50%; */
 
}

/* marquee */
#box {
  min-width: 100%;
  display: flex;
  /* padding: 1rem; */
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background: #1E1E20;
}


#box::after {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: linear-gradient(to right, black, rgba(0, 0, 0, 0) 100px,rgba(0, 0, 0, 0) calc(100% - 100px), black); */
}

.box-area {
  display: flex;
}

#box:hover .logo-top {
  animation-play-state: paused;
}


#box:hover .logo-top2 {
  animation-play-state: paused;
}


.logo-top{
  display: flex;
  position: relative;
  margin: 20px auto;
/*   z-index: 1; */
}

.logo-top2{
  display: flex;
  position: relative;
  margin: 20px auto;
/*   z-index: 1; */
}

.logo-top {
  animation: marquee 17s linear infinite;
}

.logo-top2{
  animation: marquee2 17s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


@keyframes marquee2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.logo-top a {
  display: block;
  width: 190px;
  height: 190px;
  background-color: #FFFFFF;
  /* border-radius:50%; */
  overflow: hidden;
  margin: 0 14px;
}

.logo-top2 a {
  display: block;
  width: 190px;
  height: 190px;
  background-color: #FFFFFF;
  /* border-radius:50%; */
  overflow: hidden;
  margin: 0 14px;
}

.logo-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-top2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wall-item{
  display: flex;
  margin-left: 50%;

}


.bacgroundcar {
  background-color: #fff;
  width: 400px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center
}

.wall{
  /* background-color: #a58585; */
  height: 100vh;
  overflow: hidden; 
}

.line1{
  position: relative;
  top: -1550px; 
  margin-right: 35px;

}


.line2{
  position: relative;
  top: -200px; 
}



/* Fullpage */
.fullpage-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: transform ease-in-out; /* transition 효과 추가 */
}

.fullpage-page {
  position: relative;
  height: 100vh;
}



.bacgroundcar{
  margin-bottom: 35px;
}

.border-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 510px;
  border: 2px solid rgb(34, 33, 33);
}

.border-card img{
  width: 350px;
  height: 480px;
}

#pink{
  border: 2px solid #B19AE3;
}

#green{
  border: 2px solid #B2BA88;
}


#blue{
  border: 2px solid #bbdbf8;
}

.studioshot h1{
  font-family: 'lostgun Regular';
}

.openevent{
  color: #fff;
  padding-left: 6%;
  padding-top: 4%;
  font-size: 25px;
  position: absolute;
 
}


.people1{
    margin: auto;
    display: block;

}

.middletitle h2{
    display: flex;
    /* margin-top: 20px; */
    /* margin-bottom: 10%; */
    font-size: 36px;
  
}



.kimono{
    font-size: 5rem;
    min-height: 100vh;
}

/* Carousel */

/* 이미지 사이즈 */
.carousel-icon {
  /* border-radius: 50%; */
  margin-top: 20px;
  height: 570px;
  width:  690px;
}


#far-left {
  left: 15%;
  /* margin-right: 20px; */
  z-index: 15;
  transform: scale(1.4) translateY(0%) translateX(-85%);
  background-color: #a58585;
}


#left {
  left: 30%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 10;
  /* background-color: #983d3d; */
  
}

#center {
  left: 50%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 15;
  /* background-color: #c33a3a; */

}

#right {
  left: 70%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 10;
  /* background-color: #C3C3C3; */
}

#far-right {
  left: 80%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  background-color: #eac3c3;
}


.prev-button{
padding: 50px;  
margin-left: 70%;
cursor: pointer;
/* margin-bottom: 120px; */
/* position: absolute; */
}

.containerdy{
  /* background-color: #494949; */
}


.next-button{
  /* margin-bottom: 120px; */
  padding: 50px; 
  /* padding-bottom: 40px; */
  /* margin-bottom: 10px; */
  /* cursor: pointer; */
  /* position: absolute; */
}

 .tie{
  /* background-color: #1E1E20; */
  /* display: flex; */
 }

.nextbtn:hover{
  color: #6D16DC;
}

.page_2 .Linearbar{
  height: 25px;
  background-color: #494949;
  background: linear-gradient( to left, #DC16D4, #6D16DC );
}


.bumper {
  text-align: center;
  padding: 128px 16px;
  background-color: #efefef;
}


.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  /* overflow-x: hidden; */
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
  /* background-color:red; */
}






/* card css */
.card {

  box-sizing: border-box;
 /* background-color: #1E1E20; */
  /* display: flex; */
  /* background-color: blue; */
  /* color: white; */
  /* border: 2px solid cyan; */
  /* border-radius: 12px; */
  /* line-height: 300px; */
  /* text-align: center; */
  /* margin-top: 20px; */
  font-size: 40px;
  position: absolute;
  /* margin-bottom: 20px; */
  /* top: calc(50% - 150px); */
  /* overflow: hidden; */
  display: flex;
  left: calc(37% - 100px);
  opacity: 1;
  /* top: 125%; */
  color: #494949;
  transition: transform 1s;
  transition: opacity 1s;
  
}




.hidden {
  opacity: 0;
  z-index: 5;
  transform: translateX(0) scale(0.4);
}



.hidden {
  /* 이미지가 숨겨진 스타일 설정 */
  opacity: 0;
  transform: translateX(20px) scale(0.9);
}




.p1 {
  transform: translateX(max(-18vw, -180px)) translateY(2.5vh) scale(0.6);
  z-index: 10;
  
  /* -webkit-filter: blur(5px); */
  /* -moz-filter: blur(5px); */
  /* -o-filter: blur(5px); */
  /* -ms-filter: blur(5px); */
  /* filter: blur(5px);  */
  /* margin-right: 20px; */
  transition: transform 1s;
  /* border:1px solid red; */
}

.p1 img{
  height: 855px;
  /* margin-bottom: 0px; */
 
}



.p2 {
  transform: translateX(max(-12vw, 260px)) scale(0.6);
  z-index: 20;
  /* margin-right:0px; */
    /* -webkit-filter: blur(2px);
  
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); */
  margin-top: 80px;
  transition: transform 1s;
  /* border:1px solid green; */
}

.p3 {
  transform: translateX(min(38vw, 700px)) scale(0.6);
  z-index: 30;
  margin-top: 80px;
  transition: transform 1s;
  /* border:1px solid blue; */
}

.p4 {
  transform: translateX(min(65vw, 500px)) scale(0.1);
   z-index: 0;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); 
   /* transition: transform 1s;*/
    /* border:1px solid purple; */
    visibility: hidden;
}
/* .p5 {
  transform: translateX(min(18vw, 180px)) scale(0.6);
  z-index: 10;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
    transition: transform 1s;
} */

/* .slide-content {
  margin: 8px;
  width: 200px;
  height: 200px;
  background-color: rgb(214, 211, 211);
  overflow: hidden;
  position: relative;
}

.slid-er {
  height: 156px; 
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.slid-er .slides {
  display: flex;
  
}

.slid-er .slide {
  width: 130px;
} */


.slide-content {
  margin: 8px;
  width: 200px;
  height: 200px;
  background-color: lightgray;
 
  overflow: hidden;
  position: relative;
}

img {
  /* width: 100%; */
}


.slid-er {
  /* height: 200px;  */
  margin: auto;
  overflow: hidden;
  width: 100%;
}



.slid-er .slides {
  display: flex;
}
.slid-er .slide {
  width: 258px; /* slide-content width + margin */
}
.button-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: opacity 0.25s;
}


