.Banner h2{
   
  
    margin-top: 5%;
    display: grid;
    place-items: center;
    /* position: absolute; */
    /* top: 20%; */
}


.selection{
    /* margin-top: 2%; */
}
.Banner{
    /* height: 30vh; */
    /* background-color: rgb(229, 231, 231); */
    margin-bottom: 10%;

}

.selection{
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 29%;
    display: flex;
    justify-content: space-around;
    width: 20%;

}

.cloum{
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}