.logintext button{
    padding: 20px;
    width: 11.5rem;
    background-color: #fff;
    border: none;
    
}  


.logintext .bsi{
    border-bottom: solid 1px black;
}

.pass input{
    width: 25%;
    height: 50px;
    border: none;
    margin-top: 10px;
    border-bottom: solid 1px black;
}

.passment{
    font-size: 2%;
    margin-right: 15%;
}

.must{
    font-size: 5%;
    margin-right: 20%;

}

.pass i{
    margin-left: 23%;
}

.mail1{
    width: 10%;
    height: 50px;
    border: none;
    /* margin-top: 35px; */
    border-bottom: solid 1px black;
}

.mail2{
    width: 7%;
    height: 50px;
    border: none;
    /* margin-top: 35px; */
    border-bottom: solid 1px black;
}

.mail3{
    width: 6%;
    height: 50px;
    margin-left: 1%;
    border: none;
    /* margin-top: 35px; */
    border-bottom: solid 1px black;
}


.fname{
    width: 6%;
    height: 50px;
   
    border: none;

    border-bottom: solid 1px black;
}



.lname{
    width: 18%;
    height: 50px;
    margin-left: 1%;
    border: none;
    margin-top: 35px;
    border-bottom: solid 1px black;
}

.address{
    width: 6%;
    height: 50px;
    margin-right: 1%;
    border: none;

    border-bottom: solid 1px black;

}

.font{
    margin-right: 19%;
    margin-top: 2%;
    font-size: 15px;
}


.ment{
   /* position: absolute; */
   /* left: 10%; */
    margin-right: 35%;
    font-size: 90%;
    /* margin-top: 10px; */
    margin-bottom: 1%;
    /* margin-left: 37%; */
    /* margin-top: 2%; */
}


.ads button{
    padding: 0.4%;
    background-color: #fff;
    margin-right: 13%;
    border: solid 2px rgb(228, 225, 225);
    border-radius: 5px;
}

/* 
button:hover{
    border-bottom: solid 1px black;
} */

.sibtn button{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 20px;
    width: 25vw;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
}
